$ff-default: Trebuchet MS, Arial, Verdana, sans-serif;

$fs-default: 1.45rem;

$c-white: #fff;
$c-black: #000;

$c-primary-1: #d1a0b5;
$c-primary-2: #bd7795;
$c-primary-3: #b46385;
$c-primary-4: #994a6c;
$c-primary-5: #982754;
$c-primary-6: #791f43;

$c-text-default: #424242;
$c-text-alternate: #434d69;
$c-text-emphasis: $c-primary-4;

$c-site-background: #616f8f;
$c-page-background: #f5ece0;
