<template>
  <main class="Main">
    <Header />
    <section class="Main-content">
      <Nuxt />
    </section>
  </main>
</template>

<style lang="scss" scoped>
@import "~/assets/styles/abstracts/variables";

.Main {
  width: 900px;
  max-width: 100vw;
  margin: 0 auto;

  &-content {
    position: relative;
    margin: 20px 0;
    padding: 10px 10px 65px 10px;
    border-radius: 5px;
    background: $c-page-background url("~/assets/images/footer_bottom.png") repeat-x bottom;

    &::before,
    &::after {
      content: "";
      position: absolute;
    }

    &::before {
      left: -1px;
      bottom: -6px;
      width: 137px;
      height: 68px;
      background: url("~/assets/images/footer_left.png") no-repeat;
    }

    &::after {
      right: 0;
      bottom: -18px;
      width: 164px;
      height: 102px;
      background: url("~/assets/images/footer_right.png") no-repeat;
    }
  }
}
</style>
