<template>
  <div class="Page">
    <h1>Game</h1>
    <p>
      <nuxt-link to="/">
        To home
      </nuxt-link>
    </p>
    <canvas ref="canvas" />
  </div>
</template>

<script lang="ts">
import { Component, Ref, Vue } from "nuxt-property-decorator";

@Component({ meta: { auth: true } })
export default class GamePage extends Vue {
  @Ref()
  readonly canvas!: HTMLCanvasElement;

  async mounted() {
    const { Game } = await import("../assets/scripts/Game");
    // eslint-disable-next-line @typescript-eslint/no-unused-vars
    const game = new Game(this.canvas as HTMLCanvasElement, 500, 500, require("~/assets/images/557.png"));
  }
}
</script>
